.contactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    color: #2D2D2B;
}

#contactName {
    font-family: 'Spartan', sans-serif;
    font-weight: 500
}

.touch {
    font-family: 'Open Sans', sans-serif;
    color: #2D2D2B;
}

.email {
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #2D2D2B;
}

a :hover {
    color: #BA494B
}

@media (max-device-width: 375px) and (max-device-width : 820px) {
    .email {
        font-family: 'Spartan', sans-serif;
        font-weight: 600;
        font-size: 25px;
        color: #2D2D2B;
    }
  }