.navbar-expand {
   justify-content: space-between;
}

.navBar {
    background-color: #f6f5f0 !important;
    font-family: 'Open Sans', sans-serif;
    color: #2D2D2B;
    align-items: flex-start !important;

}

.navLink {
    color: #2D2D2B !important;
    margin: 0;
    padding-left: 0 !important;
    padding-right: 20px !important;
    
}

.navbar-nav {
    margin: 0;

}

#navIcon {
    margin: 0
}

.contactbtn {
    color: white;
    text-decoration: none;
}

.btn :hover {
    color: white;
    text-decoration: none !important;
      
}

@media (max-device-width: 375px) and (max-device-width : 820px) {
   
    .navBar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        align-items: center;
        
    }

    #navIcon {
        display: none;
    }

    #cbutton {
        display: none;
    }

  }