.projectContainer a {
    color: white;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#viewCode {
    margin-left: 10px;
    
}
.card {
    border-width: 0 !important;
    background-color: #f6f5f0 !important;
    padding-bottom: 50px;
    color: #2D2D2B;
}
.card-body {
    padding: 0;
    margin: 0;
}

#codeButton {
    margin: 0
}

.card-title {
    margin-left: 0;
    font-size: 30px;
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    color: #2D2D2B !important;
}

.card-text {
    margin-left: 0;
    font-family: 'Open Sans', sans-serif;
    color: #2D2D2B !important;
}

.content {
    margin: 0
}

.Next {
    margin: 0;
    background-color: #f6f5f0 !important;
    
}

.projectContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    background-color: #f6f5f0 !important;

}

.projectImage {
    width: 100%;
    height: 100%;
    margin: 0

  
}

.projectImages {
    display: flex;
    justify-content: flex-end;

}

hr {
    border-color: #2D2D2B;
}

i {
    
    padding-right: 5px;
}

#projectNext {
    color: #2D2D2B;
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
    
 
}


@media (max-device-width: 375px) and (max-device-width : 812px) {
    .projectContainer {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
 
    
    }

    .content btn {
        display: flex;
        flex-direction: column;
        align-items: center;
   
       
 
    
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
 
    }  
    
    .projectImage {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 20px;
       
    
    
    }

    .projectImages {
     margin: 0
       
    }

}
 