.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding-top: 15px;
    font-family: 'Open Sans', sans-serif;
}

.footerIcons {
    display: flex;
    margin: 0;
}

i {
    margin-top: 0;
}

.footerContainer a {
    text-decoration: none;
    color: #2D2D2B !important;
}

@media (max-device-width: 375px) and (max-device-width : 820px) {
    .footerContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        align-items: center;
       
    }
  }